table {
    border-collapse: collapse;

    width: 1000px;
    margin: auto;
    overflow-x:auto;
    margin-top:100px;
    table-layout: fixed;
    border-spacing: 0;
    color: #4a4a4d;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  th,
  td {
    padding: 10px 15px;
    vertical-align: middle;
  }
.thead {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}

