body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: #70bcc0;
    position: fixed;
    text-align: center;
    height: 100%;
    overflow: auto;
    font-size: 18px;
    font-family: Corbel;
    
  }
  
  li a {
    display: block;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #edf7f7;
    color: black;
  }
  
  li a:hover:not(.active) {
    background-color: #333;
    color: white;
  }
.btm {
    bottom: 0px;
    position: fixed;
    text-align:center;
    left:16px;
    font-family: Corbel;
    font-size: 20px;
    
}
.a {
    display: block;
    color: #000;
    background-color: #70bcc0;
    padding: 5px 5px;
    text-decoration: none;
    text-align:center;
    font-weight: bold;
  }
 